@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;900&family=Barlow&display=swap');

@media ((min-width: 480px) and (max-width: 900px)) {

    #second-hero-image-desktop {
        display: none;
    }



    html, body {
        box-sizing: border-box;
        margin: 0;

        body.no-scroll {
            overflow: hidden;
            position: fixed;
            width: 100%;
          }
          

        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0); // Start fully transparent
            z-index: 1500;
            opacity: 0; // Initial state
            transition: background-color 0.3s ease, opacity 0.3s ease;
            pointer-events: none; // Prevent interaction when invisible
          }
          
          #overlay.active {
            background-color: rgba(0, 0, 0, 0.5); // Target color
            opacity: 1;
            pointer-events: all; // Allow click when visible
          }
                    
        img {
            max-width: 100%;
        }

        h1,
        h2,
        p {
            padding: 0.5rem;
        }

        h1 {
            padding: 0 5rem;
        }


        // === HEADER === //
        header {
            background-image: url('../frontend_mentor_resources/main sources/images/desktop/image-header.jpg');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 100%;
            height: 110vh;

            #logo-and-nav-container {
                z-index: 100;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                color: white;
                padding: 1.2rem 1rem;

                #logo {
                    height: 1.2rem;
                    max-width: 100% !important;
                }
    
                // === TOP NAVLIST HIDDEN INITIALLY ON MOBILE AND TAB === //
                #desktop-navbar {
                    display: none;
                }

                #hamburger-icon {
                    position: relative;
                    background: transparent;
                    border: none;
                    width: 24px;
                    height: 18px;
                  
                    img,
                    svg {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 24px;
                      height: 18px;
                    }
                  
                    #hamburger-img {
                      display: block;
                    }
                  
                    #close-icon {
                      z-index: 4000;
                      display: none;
                      height: 1.5rem;
                    }
                  
                    &.menu-open {
                      #hamburger-img {
                        display: none;
                      }
                  
                      #close-icon {
                        
                        z-index: 4000;
                        display: block;
                      }
                    }
                  }
                              }

            h1 {
                text-align: center;
                color: white;
                font-weight: 900;
                font-size: 2.4rem;
                letter-spacing: 5px;
            }

            @keyframes floatUpDown {
                0% {
                  transform: translateX(-50%) translateY(0);
                }
                50% {
                  transform: translateX(-50%) translateY(-25px);
                }
                100% {
                  transform: translateX(-50%) translateY(0);
                }
              }
              
              #arrow {
                position: absolute;
                left: 50%;
                width: 3rem;
                bottom: 22rem;
                transform: translateX(-50%);
                z-index: 10;
                animation: floatUpDown 2s ease-in-out infinite;
                cursor: pointer;

              }
        }

        #second-hero-image {
            min-width: 100% !important;
        }

        // === SERVICES CONTAINER === //

        #services-container {
            text-align: center;

            h2 {
                font-family:'Fraunces';
                font-weight: 700;
                color: hsl(212, 27%, 19%);
                padding: 2rem 2rem 0 2rem;
            }

            p {
                color: hsl(232, 10%, 55%);
                font-family: 'Barlow';
                padding: 0 2rem;
                font-weight: 900;
                font-size: 1.2rem;
            }

            .learn-more-button-container {
                margin-bottom: 1.5rem;

                .learn-more-button {
                    position: relative;
                    color: hsl(212, 27%, 19%);
                    border: none;
                    background-color: rgba(0, 0, 0, 0);
                    margin-bottom: 3rem;
                    z-index: 1001;
                    font-weight: 700;
                    font-family:'Fraunces';
                    cursor: pointer;
                    font-size: 1.2rem;


                }
    
                #yellow-line-decor,
                #red-line-decor {
                    position: absolute;
                    width: 7.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-top: -3.5rem;
                    border-radius: 15px;
                    height: .6rem;
                    z-index: 1000;
                }

                #yellow-line-decor {
                    background-color: hsl(51, 100%, 49%, 0.3);
                }

                #red-line-decor {
                    background-color: hsl(7, 99%, 70%, 0.2);
                }

            }

            #stand-out-img {
                min-width: 100% ;
            }

            // === GRAPHIC DESIGN === //

            #graphic-design-container {
                background-image: url('../frontend_mentor_resources/main sources/images/desktop/image-graphic-design.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                height: 38rem;
                padding: 0;
                margin: 0;

                h2 {
                    padding-top: 25rem;
                    color: hsl(167, 40%, 24%, 0.9);
                    font-size: 2rem;
                }

                p {
                    color: hsl(167, 34%, 26%);
                    line-height: 1.6;
                    font-weight: 900;
                }
        }

            // === PHOTOGRAPHY  === //

        #photography-container{
            background-image: url('../frontend_mentor_resources/main sources/images/desktop/image-photography.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            height: 38rem;
            padding: 0;
            margin-top: -2.2rem;

            h2 {
                padding-top: 25rem;
                color: hsl(212, 27%, 19%, 0.75);
                font-size: 2rem;

            }

            p {
                color: hsl(198, 62%, 26%);
                line-height: 1.6;
                font-weight: 900;
            }
    }
        }

    // === TESTIMONIALS === //
    
    #testimonials-container {
        text-align: center;

        h3 {
            color: hsl(210, 4%, 67%);
            letter-spacing: 2px;
            font-size: 1.8rem;
            margin: 3rem 0;
        }


        figure {
            margin: 0;
            padding: 0;


            img {
                border-radius: 50%;
                width: 6.5rem;
                margin-bottom: 1rem;
            }

            p {
                color: hsl(213, 9%, 39%);
                font-family: 'Barlow';
                margin: 0 -1rem -1rem -1rem;
                font-weight: 600;
                line-height: 1.6;
                font-size: 1.1rem;
                padding: 1rem;
            }

            .testimonial-name {
                font-weight: 700;
                font-family:'Fraunces';
                color: hsl(212, 27%, 19%);
                font-size: 1.3rem;
                margin-bottom: -1rem;
                margin-right: 0;
            }

            .testimonial-profession {
                color: hsl(210, 4%, 67%);
                margin-bottom: 4rem;
                font-size: 1rem;
                max-width: 100%;
                margin-right: 0;


            }
    }

    }

    // === BOTTOM DECOR IMAGES === //

    #bottom-decor-images-container {
        margin-top: -1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        .decor-img {
            margin-bottom: -.3rem;
        }
    }

    // === FOOTER === //

    footer {

        background-color: #90D4C6;
        text-align: center;

        #logo-footer {
            margin: 3.5rem 0 2rem 0;
            width: 10rem;
        }

        ul {
            display: flex;
            justify-content: space-around;
            margin: 2rem;
            padding: 0 !important;


            li {
                list-style: none;
                font-family: 'Barlow';
                margin-bottom: 3rem;
                text-decoration: none;
                color: #458D7E;
                font-weight: 900;
                cursor: pointer;
                font-size: 1.2rem;
                transition: 0.3s ease;

                &:hover {
                    opacity: 0.7;
                    transform: scale(1.1);
                }

            }
        }

        #social-media-container {
            display: flex;
            justify-content: center;

            img {
                padding: 0 1rem;
                margin: 0 0 4rem 0;
                cursor: pointer;
                transition: 0.2s ease;

                &:hover {
                    opacity: 0.7;
                    transform: scale(1.1);
                }

            }
        }
    }

    // ==== SMALL SCREEN NAV === //

    #small-screen-nav-container {
        z-index: 2000;
        position: fixed;
        top: 0;
        right: 0;
        width: 80vw;
        height: 100vh;
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      
        ul {
          list-style: none;
          padding: 0;
          margin-top: -5rem;
          text-align: center;

          
      
          li  {
            font-family: 'Barlow';
            font-size: 2.5rem;
            margin: 5rem 0;
            color:  hsl(232, 10%, 55%);
            cursor: pointer;

          }

          #contact-small-screen {
            font-size: 3rem;
            margin: 5rem 0;
            border: none;
            background-color: hsl(51, 100%, 49%);
            border-radius: 50px;
            margin-top: 0;
            padding: 1rem;
            font-size: 2.6rem;
            cursor: pointer;
            width: 15rem;
            font-family:'Fraunces';


          }
        }
      }
      
      #small-screen-nav-container.open {
        transform: translateX(0);
      }
      
    }














}